*{
    margin: 0;
    padding: 0;
}
         

#img{width: 80%;
    height: 200px;
    background-size: cover;
 
}

h1
{
    color: rgb(171, 169, 170);
    text-align: center ;
    
}

h4
{
    color: rgb(162, 162, 162);
    text-align: center;
}

body
{
    background-color: rgb(250, 250, 250);
    background-image: url(img/beg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 30%;
    /* image-resolution: 50px 20px; */
     
}

#img
{
    background-size: cover;
    background-position: center;
    position: ;
}